name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: makeBuildDir
      run: mkdir build && cd build && pwd && ls && ls ..
    - name: cmake project generation
      run: cmake ..
    - name: build
      run: cmake --build .
